[Desktop Entry]
Version=1.0
Name=OBmenu
Comment=Openbox menu properties
Exec=obmenu
Icon=obconf
Terminal=false
StartupNotify=true
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
NotShowIn=GNOME;KDE;Unity;
