<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Redshift ON">
			<action name="Execute">
				<execute>redshift -o || redshift -l 47.61:19.18</execute>
			</action>
		</item>
		<item label="Redshift OFF">
			<action name="Execute">
				<execute>redshift -O 6500</execute>
			</action>
		</item>
		<item label="Dropbox START">
			<action name="Execute">
				<execute>dropbox start</execute>
			</action>
		</item>
		<item label="Dropbox STOP">
			<action name="Execute">
				<execute>dropbox stop</execute>
			</action>
		</item>
		<item label="Oneko">
			<action name="Execute">
				<execute>oneko  -idle 400 -tofocus -position +0+4</execute>
			</action>
		</item>
		<separator/>
		<item label="Weather">
			<action name="Execute">
				<execute>xfce4-terminal --geometry=130x40 -H -e &quot;curl wttr.in/budapest&quot;</execute>
			</action>
		</item>
		<item label="Terminal">
			<action name="Execute">
				<execute>x-terminal-emulator</execute>
			</action>
		</item>
		<item label="Mocp">
			<action name="Execute">
				<execute>x-terminal-emulator -e mocp</execute>
			</action>
		</item>
		<item label="Newsbeuter">
			<action name="Execute">
				<execute>x-terminal-emulator -e newsbeuter</execute>
			</action>
		</item>
		<item label="Web browser">
			<action name="Execute">
				<execute>
					x-www-browser
				</execute>
			</action>
		</item>
		<item label="Mail reader">
			<action name="Execute">
				<execute>x-terminal-emulator -e mutt</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'menu' package to work -->
		<item label="PCmanFM">
			<action name="Execute">
				<execute>pcmanfm</execute>
			</action>
		</item>
		<separator/>
		<item label="Eclipse">
			<action name="Execute">
				<execute>/home/hallgat/sts-bundle/sts-3.8.1.RELEASE/runwaita.sh</execute>
			</action>
		</item>
		<item label="Geany">
			<action name="Execute">
				<execute>geany</execute>
			</action>
		</item>
		<separator/>
		<menu id="client-list-menu"/>
		<separator/>
		<menu execute="obm-xdg /etc/xdg/menus/xfce-applications.menu" id="pipe-745346" label="ALL PROGRAMS"/>
		<separator/>
		<item label="SETTINGS">
			<action name="Execute">
				<execute>xfce4-settings-manager</execute>
			</action>
		</item>
		<menu id="root-menu-13469" label="Tint2">
			<item label="tint2black">
				<action name="Execute">
					<execute>/home/hallgat/.scripts/tint2changer/switchrc.sh tint2black</execute>
				</action>
			</item>
			<item label="tint2blackbox">
				<action name="Execute">
					<execute>/home/hallgat/.scripts/tint2changer/switchrc.sh tint2blackbox</execute>
				</action>
			</item>
			<item label="tint2gray">
				<action name="Execute">
					<execute>/home/hallgat/.scripts/tint2changer/switchrc.sh tint2gray</execute>
				</action>
			</item>
			<item label="tint2tblack">
				<action name="Execute">
					<execute>/home/hallgat/.scripts/tint2changer/switchrc.sh tint2tblack</execute>
				</action>
			</item>
			<item label="tint2white">
				<action name="Execute">
					<execute>/home/hallgat/.scripts/tint2changer/switchrc.sh tint2white</execute>
				</action>
			</item>
		</menu>
		<item label="Nitrogen">
			<action name="Execute">
				<execute>nitrogen --sort=alpha</execute>
			</action>
		</item>
		<item label="Plank config">
			<action name="Execute">
				<execute>plank --preferences</execute>
			</action>
		</item>
		<item label="Networks">
			<action name="Execute">
				<execute>nm-connection-editor</execute>
			</action>
		</item>
		<item label="Get updates">
			<action name="Execute">
				<execute>x-terminal-emulator -e bash -c  &quot;sudo apt-get update  | lolcat; sudo apt-get upgrade ; notify-send 'Update session done'&quot;</execute>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
